* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#project_title,
#login-username-container,
.submit-container {
  font-family: "Noteworthy-Bold", "Courier New", Courier, monospace;
}

#login-username-container,
#project_title {
  text-align: center;
}

#line {
  border: none;
}

#fusername,
#fpassword {
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  text-align: center;
}

#fusername:focus,
#fpassword:focus {
  border: 3px solid #555;
}

.submit-container {
  border: solid;
  margin-left: auto;
  margin-right: auto;
}

#submitTitle {
  font-size: clamp(2rem, 5vw, 1rem);
  /* at first the font will show with the size of 2.5rem, then slowly dcrease 5vw and stop decrease when reach 2rem */
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.submit-container:hover {
  background-color: rgb(170, 164, 164);
}

.testing {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.contentBox {
  margin: 1em;
  padding: 5em;
  text-align: center;
  background-color: rgb(196, 196, 196);
}

.contentBox:hover {
  background-color: rgb(255, 217, 0);
}
